body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f98049;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.container {
  padding: 20px;
}

.entrada-de-dados {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="date"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-incluir {
  text-align: center;
}

input[type="button"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.btn-incluir input[type="button"] {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

input[type="button"]:hover {
  background-color: #555;
}

.btn-form {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
  width: 100px;
  text-decoration: none;
  font-size: 0.8rem;
}

.btn-form:hover {
  background-color: #555;
}

footer {
  background-color: #183f3c;
  color: #fff;
  text-align: center;
  font-size: 14px;
  padding: 10px 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 20px;
}